*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* width: 550px; */
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 0rem;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(56, 165, 255);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(75, 101, 124);
  border-radius: 10px;
}
